<div class="wrapper bgded overlay" style="background-image:url('assets/images/backgrounds/ParadaHector.png');">
    <div id="pageintro" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <article>
        <h2 class="heading">{{ 'app.titulo' | translate }}</h2>
        <p>{{ 'main.descripcionParada' | translate }}</p>
        <footer><a target="_blank" class="btn" href="https://www.mercadocentralvalencia.es/mercado/productosparada?seccionid=12&puestoid=66&comprarweb=false">{{ 'app.comprar' | translate }}</a></footer>
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="btmspace-50">
        <h3 class="font-x2 nospace">{{ 'menuCentral.categoriasTitulo' | translate }}</h3>
        <p class="nospace">{{ 'menuCentral.categoriasSub' | translate }}</p>
      </div>
      <div class="group">
        <article class="one_third first"><a routerLink="/galeria/aceitunasEncurtidos"><img class="btmspace-30" src="assets/images/categorias/aceitunasEncurtidos.jpg" alt=""></a>
          <h4 class="nospace font-x1">{{ 'menuCentral.aceitunasEncurtidosTitulo' | translate }}</h4>
          <p>{{ 'menuCentral.aceitunasEncurtidosSub' | translate }}</p>
          <footer><a class="btn" routerLink="/galeria/prodArtesanos">{{ 'app.verMas' | translate }}</a></footer>
        </article>
        <article class="one_third"><a routerLink="/galeria/conservas"><img class="btmspace-30" src="assets/images/categorias/conservas.jpg" alt=""></a>
          <h4 class="nospace font-x1">{{ 'menuCentral.conservasTitulo' | translate }}</h4>
          <p>{{ 'menuCentral.conservasSub' | translate }}</p>
          <footer><a class="btn" routerLink="/galeria/prodArtesanos">{{ 'app.verMas' | translate }}</a></footer>
        </article>
        <article class="one_third"><a routerLink="/galeria/prodArtesanos"><img class="btmspace-30" src="assets/images/categorias/productosArtesanos.jpg" alt=""></a>
          <h4 class="nospace font-x1">{{ 'menuCentral.prodArtesanosTitulo' | translate }}</h4>
          <p>{{ 'menuCentral.prodArtesanosSub' | translate }}</p>
          <footer><a class="btn" routerLink="/galeria/prodArtesanos">{{ 'app.verMas' | translate }}</a></footer>
        </article>
      </div>
      <!-- ################################################################################################ -->
    </section>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <!-- <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body --
      <div class="group btmspace-80">
        <div class="one_half first">
          <h4>Vivamus lobortis consequat</h4>
          <p>Ipsum quisque tincidunt placerat dui vitae aliquet nisl volutpat vitae cras non tristique nisl phasellus tempus elit proin vel imperdiet diam mauris efficitur nisl elit eu ornare massa ultricies.</p>
        </div>
        <div class="one_half">
          <p>Vestibulum venenatis sed id nisl magna suspendisse a mauris et neque sollicitudin ullamcorper fusce molestie felis mi id.</p>
          <p>Sollicitudin augue faucibus eu sed dictum egestas magna a pretium elit dapibus vitae etiam auctor arcu enim eu tempus elit.</p>
        </div>
      </div>
      <div class="group">
        <article class="one_third first"><a href="#"><i class="block btmspace-15 fa fa-4x fa-key"></i></a>
          <h4>Semper mauris sed</h4>
          <p>Commodo non nunc leo risus lacinia eget leo sed interdum molestie lorem sed dapibus ante sit amet egestas.</p>
        </article>
        <article class="one_third"><a href="#"><i class="block btmspace-15 fa fa-4x fa-leaf"></i></a>
          <h4>Elit porttitor mauris</h4>
          <p>Ligula pharetra lectus sed rhoncus enim nibh eu metus praesent nec bibendum lectus suspendisse vel dolor nec.</p>
        </article>
        <article class="one_third"><a href="#"><i class="block btmspace-15 fa fa-4x fa-legal"></i></a>
          <h4>Auctor pretium vel</h4>
          <p>Sed facilisis magna vitae metus vulputate eleifend mauris gravida porta erat a lacinia vivamus egestas dapibus eros quis.</p>
        </article>
      </div>
      <!-- / main body --
      <div class="clear"></div>
    </main>
  </div> -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <section id="latest" class="container clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-80">
        <h3 class="font-x2 nospace">{{ 'productos.especialidadesTitulo' | translate }}</h3>
        <p class="nospace">{{ 'productos.especialidadesSub' | translate }}</p>
      </div>
      <ul class="nospace group">
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/ajoArriero.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.ajoArriero' | translate }}</h6>
              <p>{{ 'productos.descAjoarriero' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/boquerones.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.sardinas' | translate }}</h6>
              <p>{{ 'productos.descSardinas' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/huevasAtun.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.mojama' | translate }}</h6>
              <p>{{ 'productos.descMojama' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/olivasNegras.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.olivas' | translate }}</h6>
              <p>{{ 'productos.descOlivas' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/tonyina.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.boquerones' | translate }}</h6>
              <p>{{ 'productos.descBoquerones' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#"><img src="assets/images/productos/pulpo.jpg" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">{{ 'productos.pulpo' | translate }}</h6>
              <p>{{ 'productos.descPulpo' | translate }}</p>
              <!-- <footer><a href="#">View Details &raquo;</a></footer> -->
            </figcaption>
          </figure>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <div class="wrapper row3">
    <div class="hoc container clear center"> 
      <!-- ################################################################################################ -->
      <article>
        <h2 class="heading font-x3">{{ 'main.nomMercat' | translate }}<br></h2>
        <p class="btmspace-50">{{ 'main.descripcionMercado' | translate }}</p>
        <p class="btmspace-50"><a class="btn" href="https://www.mercadocentralvalencia.es/">{{ 'app.verMas' | translate }}</a></p>
        <!-- <footer class="font-xs">** {{ 'main.enlaceExterno' | translate }}<br>
        </footer> -->
      </article>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <div class="wrapper bgded" style="background-image:url('assets/images/servicioDomicilio.jpg');">
    <ul class="nospace group clrbox">
      <li>
        <article>
          <h4 class="heading">{{ 'footer.textoMercado' | translate }}</h4>
          <p>{{ 'footer.condicionesServicio' | translate }}</p>
          <footer><a class="btn" href="https://www.mercadocentralvalencia.es/Comprar/ServicioDomicilio">{{ 'app.verMas' | translate }}</a></footer>
        </article>
      </li>            
    </ul>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################SOLES ES VEU LA IMATGE EN PC, EN MOVIL NO####################### -->
  <!-- ################################################################################################ -->
  <!-- <div class="wrapper bgded" style="background-image:url('assets/images/backgrounds/mercadoCentral.png');">
    <div class="hoc split clear">
      <article class="box clear"> 
        <h6 class="heading">{{ 'main.nomMercat' | translate }}</h6>
        <p class="btmspace-30">{{ 'main.descripcionMercado' | translate }}</p>
        <footer><a class="btn" href="https://www.mercadocentralvalencia.es/">{{ 'app.verMas' | translate }}</a></footer>
      </article>
    </div>
  </div> -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
