<!-- <html>
<head>
<title>Saladuras</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head> -->
<!-- <body id="top"> -->
<!-- <link href="/assets/css/layout.css" rel="stylesheet" type="text/css"> -->
    <!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<app-header></app-header>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- <app-inicio></app-inicio>-->
<section>
    <router-outlet></router-outlet>
</section>


<app-footer></app-footer>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS 
<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/jquery.backtotop.js"></script>
<script src="assets/scripts/jquery.mobilemenu.js"></script>-->
<!-- </body> -->
<!-- </html> -->