<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>{{ nomReceta +'.titulo' | translate }}</h1>
      <img class="imgr borderedbox inspace-5 imagenReceta" src="assets/images/recetas/{{nomReceta}}.jpg" alt="">
      <p>{{ nomReceta +'.descripcion' | translate }}</p>
      
    </div>

    <div class="group btmspace-80">
      
      <h4>{{ 'app.empezamos' | translate }}</h4>
      
      <div class="one_half">
        <h4>{{ 'app.paso1' | translate }}</h4>
        <p>{{ nomReceta +'.frase1' | translate }}</p>
      </div>
      <div class="one_half">
        <h4>{{ 'app.paso2' | translate }}</h4>
        <p>{{ nomReceta +'.frase2' | translate }}</p>
      </div>
      <div class="one_half">
        <h4>{{ 'app.paso3' | translate }}</h4>
        <p>{{ nomReceta +'.frase3' | translate }}</p>
      </div>
    </div>    
    <div class="group">
      <article class="one_third first"><i class="block btmspace-15 fa fa-4x fa-leaf"></i>
        <h4>{{ 'app.ingrediente' | translate }}</h4>
        <p>{{ nomReceta +'.ingredientes' | translate }}</p>
      </article>      
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
