<div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <!-- <div class="one_quarter first">
        <h6 class="title">Fermentum mi ornare</h6>
        <p>Consectetur sodales interdum sed feugiat tellus orci id fringilla sem pulvinar in aliquam mattis nisl ac justo venenatis gravida vel nulla velit placerat.</p>
        <p>Sollicitudin suscipit ut eleifend lorem non ultrices blandit praesent lobortis malesuada dictum phasellus.</p>
      </div> -->
      <div class="one_quarter">
        <h6 class="title">{{ 'footer.localizacion' | translate }}</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
              {{ 'footer.direccion' | translate }}
            </address>
          </li>
          <li><i class="fa fa-map-marker"></i>
            <address>
              {{ 'footer.gremio' | translate }} {{ 'footer.parada' | translate }}
            </address>
          </li>
        </ul>
      </div>

      <div class="one_quarter">
        <h6 class="title">{{ 'footer.textoParada' | translate }}</h6>
        <ul class="nospace linklist contact">           
          <li><i class="fa fa-phone"></i> {{ 'footer.telef1' | translate }}<br></li>
          <!-- <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li> -->
          <li><i class="fa fa-envelope-o"></i> {{ 'footer.email' | translate }}</li>
          <li><i class="fa fa-info"></i> {{ 'footer.horario' | translate }}</li>
        </ul>
      </div>

      <div class="one_quarter">
        <h6 class="title">{{ 'footer.textoMercado' | translate }}</h6>
        <ul class="nospace linklist contact">                    
          <li><i class="fa fa-phone"></i> {{ 'footer.telefDomicilio' | translate }}<br></li>
          <!-- <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li> -->
          <li><i class="fa fa-envelope-o"></i> {{ 'footer.emailDomicilio' | translate }}</li>
          <li><i class="fa fa-info"></i> {{ 'footer.horario' | translate }}</li>
        </ul>
      </div>
      
      <!-- <div class="one_quarter">
        <h6 class="title">Etiam quam est lacinia</h6>
        <ul class="nospace linklist">
          <li><a href="#">Fringilla nunc proin et lacus</a></li>
          <li><a href="#">Vestibulum condimentum</a></li>
          <li><a href="#">Donec condimentum tellus</a></li>
          <li><a href="#">Placerat tristique etiam orci</a></li>
          <li><a href="#">Euismod lacinia bibendum in</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="title">Nec ipsum a venenatis</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h6 class="nospace font-x1"><a href="#">Erat sed aliquet auctor</a></h6>
              <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
              <p class="nospace">Felis laoreet porta at vitae mauris praesent vel risus&hellip;</p>
            </article>
          </li>
          <li>
            <article>
              <h6 class="nospace font-x1"><a href="#">Ultricies duis sed ex quis</a></h6>
              <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
              <p class="nospace">Volutpat orci vestibulum non placerat felis sed sollicitudin&hellip;</p>
            </article>
          </li>
        </ul>
      </div> -->
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; {{anyo}} - All Rights Reserved - <a href="#"> {{ 'app.nom' | translate }} </a></p>
      <!-- <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p> -->
      <!-- ################################################################################################ -->
    </div>
  </div>