.social-btn {
    background: aqua;
    border-radius: 85px;    
    /* display: inline-block; */
    height: 38px;
    width: 50px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }

  .div_redes {
    display: flex;
    column-gap: 120px;
    justify-content: space-between;
  }